<!DOCTYPE html>
<html>
<head>
    <title>Click Counter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <button id="left-button">{{ left_text }}</button>
        <button id="right-button">{{ right_text }}</button>
    </div>

    <script src="/static/script.js"></script>
</body>
<body>
    <div class="container">
        </div>

    <div id="leaderboard">
        <h2>Leaderboard</h2>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>